.home-title {
  @apply font-semibold text-24 md:text-32 xl:text-36;
}
.container{
  padding: 3rem 0;
}
.co-text-editor{
  *{
      word-break: break-word;
  }
  table,img{
      max-width: 100%;
      height: auto;
  }
  ul{
      padding-left: 25px;
      list-style-type: disc;
  }
  Ol{
      padding-left: 25px;
      list-style-type: decimal;
  }
}
.bg-tmp-top{
  background-image: url('../img/bg-tmp1.png');
  background-repeat: no-repeat;
  background-position: top right;
}
.bg-tmp-bottom{
  background-image: url('../img/bg-tmp2.png');
  background-repeat: no-repeat;
  background-position:bottom left;
}